div.object_header
{
    cursor: hand;
    color: blue;
    border-bottom: 1px dashed blue;
    display: inline;
}

.pressed {
    background: #dadada;

}

.error {background-color: 'red';}

.debug_info  {
    background: #406000;
    padding: 3px;
    width: 100%;
    display: none;
}
.debug_script {
    background: #666666;
    padding: 3px;
    width: 100%;
    display: none;
}
.debug_default {
    background: #c77405;
    padding: 3px;
    width: 100%;
}

.debug_error {
    background: #db7093;
    padding: 3px;
    width: 100%;
}

.time, .script_name {
    font-size-adjust: 0.4;
    display: inline;
    padding: 3px;
}



pre.stderr_log {
    background: gray;
    padding: 3px;
    width: 100%;
}


.filter {
    display: inline;

}

ul.object_inner {
    display: none;

}

ul.object_inner li{
    font-size-adjust: 0.8;
}

div#settings {
    line-height: 0.8;
}

input#path_to_wz_file_dialog{
    display: none;
}


label#path_to_wz{
    background: gray;
}
label#path_to_wz:hover{
    background: #db7093;
}





span.color_Green{
    color: #107010;
}

span.color_Blue{
    color: #2731b9;
}

span.color_Orange{
    color: #ffb035;
}
span.color_Grey{
    color: #909090;
}
span.color_Black{
    color: #202020;
}
span.color_Red{
    color: #9b0f0f;
}
span.color_Pink{
    color: #d010b0;
}
span.color_Cyan{
    color: #20d0d0;
}
span.color_Yellow{
    color: #f0e810;
}
span.color_Purple{
    color: #700074;
}
span.color_Bright_blue{
    color: #2020ff;
}

span.color_White{
    color: #E0E0E0;
}

span.color_Neon_green{
    color: #00A000;
}

span.color_Infrared{
    color: #400000;
}

span.color_Ultraviolet{
    color: #100040;
}

span.color_Brown{
    color: #406000;
}

